<header>
  <nav class="navbar-expand-sm navbar-light bg-white">
    <div class="container-lg">
      <div class="d-flex flex-grow-1 flex-column flex-md-row">
        <div class="d-flex align-items-center flex-grow-1">

          <div class="d-block d-sm-none">
            <a href="/" class="w-25"><img class="logo" src="/Images/Web/vigilancia-argentina-logo-small.png" alt=""></a>
          </div>
          <div class="d-none d-sm-block">
            <a href="/" class="w-25"><img class="logo" src="/Images/Web/vigilancia-argentina-logo-large.png" alt=""></a>
          </div>
                  
          <div class="w-100">
            <div class="mx-2 my-2">
              <form class="d-inline w-100">
                <div class="input-group">
                  <input type="text" class="form-control border rounded-start" placeholder="Buscar...">
                  <span class="input-group-append">
                    <button class="h-100 text-secondary bg-white border rounded-end" type="button">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
                </div>
              </form>
            </div>
          </div>
  
          <button class="d-block d-md-none  btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="true" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>  
          
        </div>
  
        <div class="collapse show" id="navbarsExample05">
        
          <div class="my-2 d-flex">
            <a href="/login" class="w-100 mx-1 btn btn-outline-primary">Regirtrarse</a>
            <a href="/register" class="w-100 mx-1 btn btn-primary">Ingresar</a>
          </div>
  
          <div class="mx-1 d-block d-md-none">
            <div class="">
              <a class="btn btn-outline-primary w-100 text-center" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDropdownMenuLink" aria-controls="navbarDropdownMenuLink" aria-expanded="true" aria-label="Toggle navigation">
                Categorias      
              </a>
            </div>
            <div class="mt-2 collapse"  class="" id="navbarDropdownMenuLink">
              <a class="dropdown-item rounded p-2 text-center" href="/categoria/2">Vigilancia</a>
              <a class="dropdown-item rounded p-2 text-center" href="/categoria/3">Acceso</a>
              <a class="dropdown-item rounded p-2 text-center" href="/categoria/4">Conectividad</a>
              <a class="dropdown-item rounded p-2 text-center" href="/categoria/5">Intrusión</a>
              <a class="dropdown-item rounded p-2 text-center" href="/categoria/6">Portería</a>
              <a class="dropdown-item rounded p-2 text-center" href="/categoria/7">Accesorios</a>
            </div>
          </div>
  
        </div>
  
      </div>
      
    </div>
    </div>
  </nav>
  <nav class=" navbar-light bg-light d-none d-md-block">
    <div class="container-lg">
      <div class="d-flex justify-content-between">
        <a class="dropdown-item rounded p-2 text-center" href="/categoria/2">Vigilancia</a>
        <a class="dropdown-item rounded p-2 text-center" href="/categoria/3">Acceso</a>
        <a class="dropdown-item rounded p-2 text-center" href="/categoria/4">Conectividad</a>
        <a class="dropdown-item rounded p-2 text-center" href="/categoria/5">Intrusión</a>
        <a class="dropdown-item rounded p-2 text-center" href="/categoria/6">Portería</a>
        <a class="dropdown-item rounded p-2 text-center" href="/categoria/7">Accesorios</a>
      </div>
    </div>
  </nav>
</header>
