<div class="col">
    <div class="card h-100">
        <img src="/img/products/<%= product.image %>" class="border-bottom card-img-top" alt="...">
        <div class="card-body">
            <h6 class="card-title"><strong class="text-primary"><%= product.title %></strong></h6>
            <p><small class="text-secondary">Codigo:<%= product.sku %></small></p>
            <div class="d-flex justify-content-between">
                <span>$<%= product.price %><small>(iva incl.)</small></span>
                <span class="text-secondary">
                    <% if(product.stock > 0){ %> 
                        <small class="product-stock">EN STOCK</small>
                    <% }else{ %>
                        <small class="product-stock">SIN STOCK</small>
                    <% } %> 
                </span>
            </div>
            <a href="" class="mt-2 w-100 btn btn-outline-primary">VER MAS</a>
        </div>
    </div>
</div>