<section class="d-none d-lg-block>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active ">
              <div class="d-flex">
                <a href="/marca/1"><img src="/images/web/sliderBrands/1.png" class=" w-100" alt="..."></a>
                <a href="/marca/2"><img src="/images/web/sliderBrands/2.png" class=" w-100" alt="..."></a>
                <a href="/marca/3"><img src="/images/web/sliderBrands/3.png" class=" w-100" alt="..."></a>
                <a href="/marca/4"><img src="/images/web/sliderBrands/4.png" class=" w-100" alt="..."></a>
                <a href="/marca/5"><img src="/images/web/sliderBrands/5.png" class=" w-100" alt="..."></a>
              </div>
          </div>
          <div class="carousel-item">
              <div class="d-flex">
                <a href="/marca/6"><img src="/images/web/sliderBrands/6.png" class=" w-100" alt="..."></a>
                <a href="/marca/7"><img src="/images/web/sliderBrands/7.png" class=" w-100" alt="..."></a>
                <a href="/marca/8"><img src="/images/web/sliderBrands/8.png" class=" w-100" alt="..."></a>
                <a href="/marca/9"><img src="/images/web/sliderBrands/9.png" class=" w-100" alt="..."></a>
                <a href="/marca/10"><img src="/images/web/sliderBrands/10.png" class=" w-100" alt="..."></a>
              </div>
          </div>
          <div class="carousel-item">
              <div class="d-flex">
                <a href="/marca/11"><img src="/images/web/sliderBrands/11.png" class=" w-100" alt="..."></a>
                <a href="/marca/12"><img src="/images/web/sliderBrands/12.png" class=" w-100" alt="..."></a>
                <a href="/marca/13"><img src="/images/web/sliderBrands/13.png" class=" w-100" alt="..."></a>
                <a href="/marca/15"><img src="/images/web/sliderBrands/15.png" class=" w-100" alt="..."></a>
                <a href="/marca/16"><img src="/images/web/sliderBrands/16.png" class=" w-100" alt="..."></a>
              </div>
          </div>
        </div>
      </div>
</section>