<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
  
    <section>
            <main class="login">
                <h3>Panel de Administrador</h3>
                <a href="/admin/productos">Productos</a>
                <a href="/admin/usuarios">Usuarios</a>
                <a href="/admin/ventas">Ventas</a>
                <a href=""></a>
            
            </main>
    </section>
    <%- include('../partials/footer') %>
    <script src="js/login.js"></script>
    <script src="/js/validaciones.js"></script>
</body>
</html>