<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head'); %>
  <style>
    #removeItem{
      transition: all 0.3s;
      cursor:pointer;
    }
    #removeItem:hover{
      color: #CC0000;
    }

    #name{
      font-size: 16px;
    }

  

    #image{
      display:block;
      width:75px;
      height: 75px;
    }

    @media (min-width: 576px) {


    }

    @media (min-width: 768px) {
      #name{
        font-size: 24px;
      }
      #image{
        display:block;
        height: 150px;
        width: 150px;
      } 
    }
    

        
    label.radio {
      cursor: pointer;
    }

    label.radio input {
      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden;
      pointer-events: none;
    }

    label.radio span {
      padding: 1px 12px;
      border: 1px solid #6C757D;
      display: inline-block;
      border-radius: 3px;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 300;
    }

    label.radio input:checked + span {
      border-color: #007BFF;
      background-color: #007BFF;
      color: #007BFF;
    }

  </style>
  <body class="bg-light min-vh-100">
  
      <%- include('../partials/header'); %>
    <main>
      <div class="container-lg px-0 px-sm-3 my-0 my-sm-5">
        <div class="row">

          <div class="col-md-8 mx-1 mx-md-0 my-2">
            <div>
              <div class="d-flex bg-white rounded"  style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
                <h2 class="text-secondary ms-4 my-4"><span class="ms-3" style="font-weight: 600;">Mi carrito</span></h2>
              </div>
              <div>
                <div id="itemsDumper">
                  <div class="py-5 d-flex justify-content-center" id="shoppingCartLoader">
                    <div class="spinner-border text-secondary" role="status"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4  mx-1 mx-md-0 my-2">
            <div class="rounded bg-white"  style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
              <div class="p-3">
                <form  novalidate autocomplete="on">

                  <label class="radio"> <input type="radio" name="card" value="payment" checked> <span><img width="30" src="https://img.icons8.com/color/48/000000/mastercard.png"/></span> </label>
                  <label class="radio"> <input type="radio" name="card" value="payment"> <span><img width="30" src="https://img.icons8.com/officel/48/000000/visa.png"/></span> </label>
                  <label class="radio"> <input type="radio" name="card" value="payment"> <span><img width="30" src="https://img.icons8.com/ultraviolet/48/000000/amex.png"/></span> </label>
                  <label class="radio"> <input type="radio" name="card" value="payment"> <span><img width="30" src="https://img.icons8.com/officel/48/000000/paypal.png"/></span> </label>
                  <div class="mt-1">
                    <label><small class="text-muted">Titular</small></label>
                    <input type="text" id="cardHolder" class="form-control" placeholder="Nombre">
                  </div>
                  <div  class="mt-1">
                    <label><small class="text-muted">Numero de tarjeta</small></label>
                    <input type="text" id="cardNumber" class="form-control" placeholder="0000 0000 0000 0000">
                  </div>
                  <div class="mt-1 row">
                    <div class="col-md-6">
                      <label><small class="text-muted"> Vencimiento </small></label>
                      <input type="text" id="expirationDate" class="form-control" placeholder="12/34">
                    </div>
                    <div class="col-md-6">
                      <label><small class="text-muted"> CVV </small></label>
                      <input type="text" id="cvv" class="form-control" placeholder="342">
                    </div>
                  </div>
                  <hr class="mb-1">
                  <div>
                    <label class="text-muted"><small>Codigo de descuento</small></label>
                    <div class="d-flex">
                      <input type="text" class="form-control" id="discountInput">
                      <button class="ms-2 btn btn-primary" id="discountButton">Validar</button>
                    </div>
                  </div>
                  <div class="mt-3">
                    <div class="d-flex justify-content-between information">
                      <span>Descuento</span>
                      <div>-$ <span id="discount">0</span></div>
                    </div>
                    <div class="d-flex justify-content-between information">
                      <span>Total</span>
                      <div>$ <span id="total"></span></div>
                    </div>
                  </div>
                  <button class="btn btn-primary btn-block d-flex justify-content-between mt-3 float-right" type="button" id="processPayment">Procesar pago</button></div>
                </form>
              </div>
            </div>
          </div>

        </div>
        
      </div>
    </main>
    <%- include('../partials/footer'); %>
    <template id="itemTemplate">
      <div class="itemContainer">
        <div class="mt-3 mx-0 rounded bg-white" style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
          <div class="d-flex">
            <img src="/images/products/" id="image" class="rounded-start"  alt="">
    
            <div class="p-2 ms-md-3 flex-fill d-flex flex-column">
              <div class="d-flex justify-content-between flex-fill">
                <div>
                  <h4 class="m-0" id="name">Camara CCTV</h4>
                  <small class="text-secondary">Modelo: <span id="sku"></span></small>
                </div>
                <div>
                  <i class='m-0 me-2 fas fa-times' id="removeItem"  style='font-size:18px'></i>
                </div>
              </div>
              <div class="d-flex justify-content-between flex-column flex-sm-row">
                <div class="py-1 align-self-start align-self-sm-end">
                  <h6 class="m-0"><span style="font-weight: 600;">Precio:</span>   $<span id="price"></span> <small style="font-size:11px">(IVA INC)</small></h5>
                </div>
                <div class="d-flex justify-item-end align-self-end pt-3 pt-sm-0">
                  <div>
                    <ul class="pagination pagination-sm mb-0">
                      <li class="page-item"><a class="page-link shadow-none" id="lessItems"><i class="fas fa-minus"></i></a></li>
                      <li class="page-item shadow-none"><input name="quantity" style="width: 35px;" id="itemCounter" class="page-link text-center shadow-none px-0" type="text" value="1"></li>
                      <li class="page-item"><a class="page-link shadow-none" id="moreItems"><i class="fas fa-plus"></i></a></li>
                    </ul>
                  </div>
                  <div class="ms-2 px-2 py-1 border rounded">
                    <h6 class="m-0 text-primary">$<span id="subtotal"></span></h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
    <script src="/javascripts/shoppingCartMain.js"></script>
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <script src="/javascripts/mercadopagoAPI.js></script>

</body>
</html>