<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    <main class="bg-light min-vh-75">
        <section class="d-flex justify-content-center">
            <div class="d-flex flex-column align-items-center justify-content-between bg-white rounded p-4 m-4">
                <h4 class="text-center">¡Te enviamos un mail con tu nueva contraseña!</h4>
                <p>Por favor, logueate para ingresar a tu cuenta.</p>
                <a href="/"><small>Volver al inicio</small></a>
            </div>
        </section>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>