<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    <main class="bg-light">
        <section class="d-flex justify-content-center">
            <div class="d-flex flex-column align-items-center justify-content-center bg-white rounded p-4 m-4">
                <h4 class="text-center">¿Olvidaste tu contraseña? <br> Te ayudamos a recuperarla</h4>
                <form action="/forgotPasswordSent" method="POST" class="w-100 d-flex flex-column mt-4">
                    <label for="email"><small class="text-secondary">Email</small></label>
                    <input type="email" name="email" placeholder="e-mail" class="form-control">
                    <input type="submit" value="Recuperar Contraseña" class="w-100 btn btn-primary mt-3">
                </form>
                <a href="/" class="mt-3"><small>Volver al inicio</small></a>
            </div>
        </section>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>