<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body>
    <%- include('../partials/header'); %>
    <main class="bg-light">
        <section class="d-flex justify-content-center">
            <div  class="d-flex flex-column align-items-center justify-content-center bg-white rounded p-4 m-4">
                <h4 class="text-center">¡Tu registro se ha completado exitosamente!</h4>
                <p>Por favor, <a href="/login" style="text-decoration: underline;">inicia sesión</a> para ingresar a tu cuenta.</p>
                <a href="/"><small>Volver al inicio</small></a>
            </div>
        </section>    
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>